body{
    position: relative;
}
.main-container2{
    width: 40%;
    height: 600px;
    position: absolute;
    left:58%;
    top: 18%;
    position: relative;
}
.Phone-Picture1{
    width: 265px;
    height: 470px;
    position: absolute;
    top: 20px;
    left: 14%;
    
}
.Phone-Picture2{
    width: 331px;
    height: 600px;
    position: absolute;
    left: 30%;
    top: -55px;

}
@media screen and (max-width: 1280px) {
    .main-container2{
        left:48%;
    }
}
@media screen and (max-width: 960px) {
    .main-container2{
        width: 50%;
        left:20%;
        top: 48%;
    
    }
}

@media screen and (max-width: 730px){
    .main-container2{
        left:14%;
        top:52%
    } 

}
@media screen and (max-width: 560px){

        .main-container2{
            left:15%;
            top:55%;
            height: 400px;
        } 
        .Phone-Picture1{
            width: 160px;
            height: 290px;
            
        }
        .Phone-Picture2{
            width: 210px;
            height: 420px;
            left: 40%;
        
        }
}
@media screen and (max-width: 390px){

    .main-container2{
        left:10%;
        top:60%;
        height: 400px;
    } 
    .Phone-Picture1{
        width: 150px;
        height: 270px;
        
    }
    .Phone-Picture2{
        width: 200px;
        height: 400px;
        left: 40%;
    
    }
}